* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

img{
    border-radius: 50%;
    padding: 10px;
}

ul{
    margin: 5px;
}

li{
    font-size: 14px;
    list-style: none;
    text-align: center;
    border-left: 1px outset #abababab;
    border-bottom: 1px solid #abababab;
    border-radius: 3%;
    background-color: lightgray;
    margin: 7px;
}    

div{
    background-color: #531D82;
}

.container-fluid{
    text-align: center;
    padding: 5px 5px;
    margin: auto;
    background-color: #abababab;
}

.sobreMi{
    padding: 10px 20px;
    margin: 15px;

}

article{
    border: 1px solid black;
}



