* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h1{
    background-color: aliceblue;
    border-radius: 5%;
    border-bottom: 1px solid black;
}

img{
    border-radius: 50%;
    padding: 10px;
}

.container{
    padding: 10px;
}

ul{
    margin: 5px;
}

li{
    font-size: 14px;
    list-style: none;
    text-align: center;
    box-shadow: -5px 3px 10px black;
    border-bottom: 1px solid #abababab;
    border-radius: 3%;
    background-color: aliceblue;
    margin: 7px;
}    

.container-fluid{
    text-align: center;
    padding: 5px 5px;
    margin: auto;   
}

.sobreMi{
    background-color: aliceblue;
    padding: 20px;
    margin: 10px;
    border-radius: 3%;
}

p{
    margin: 7px
}

article{
    border-radius: 3px;
    box-shadow: 0 0 3px;
}



